.navbar-light{
    color: blue;
}
.card{
    background-color: transparent;
    border:1px solid;
    padding:10px;
    box-shadow: 5px 5px whitesmoke;
    border-radius: 20px;
}


.portf{
    border: solid #353e54 2px;
    border-radius: 50px;
    box-shadow: #232323 5px 5px 5px;
}