h1, h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #035663;
}

.navbar{
    background: linear-gradient(-66deg,rgb(4, 123, 141), #035663 );
    
}

header{
	position: sticky;
    top: 0;
	opacity: 0.95;
    z-index: 5;
    height: 100px;
    }

.btn{
    color: white;
    background-color: rgb(4, 123, 141);
    font-weight: bold;
    }

footer{
    background: linear-gradient(-66deg,#035663, rgb(4, 123, 141));
    font-size: small;
    color: white;
}

._bordiere {
    border-top: solid 10px #035663;
    border-radius: 30px;
}
