
/*
.avatarCardK {
    content: url(/Assets/image/avatarK1.png);
}


.avatarCardC {
    content: url(/Assets/image/avatarC1.png);
}


.avatarCardA {
    content: url(/Assets/image/avatarA1.png);
}
*/

/*
.avatarCardK:hover {
    content: url(/Assets/image/avatarK4.png);
}

.avatarCardC:hover {
    content: url(/Assets/image/avatarC2.png);
}

.avatarCardA:hover {
    content: url(/Assets/image/avatarA2.png);
}

*/